.clickable-row :hover{
    cursor: pointer;
}

th, td {
    text-align: center;
}

.darkmode { 
    background-color: #303233;
}

.text-justify {
    text-align: justify;
}

#pageLink {
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* -------------------------------- */
/* .collapsible {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;   
  }
  
  .active, .collapsible:hover {
    background-color: #777;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  } */